@import "../../../../node_modules/bootstrap/scss/variables.scss";

$c-tropaz: #26628A;
$c-downy: #6BC5D3;
$c-humming-bird: #D9F1FA;
$c-tuna: #3F404A;
$c-flamingo: #F15942;

// palette

$c-accent: $c-flamingo;
$c-light: $c-humming-bird;
$c-dark: $c-tuna;
$c-primary: $c-tropaz;
$c-muted: $c-downy;
