<div class="course-item">
    <div class="info-group">
        <div class="course-info-header">
            <span>Video course</span>
            <span>Course number</span>
            <span>Course duration</span>
            <span class="course-info-date">Course date</span>
        </div>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam architecto aut blanditiis eveniet ipsam iste maxime obcaecati quo rem, ut.</div>
    </div>
    <div class="button-group">
        <button>Edit course</button>
        <button>Delete</button>
    </div>
</div>
