<div class="course-item" [borderFresh]="course.startDate" [class.top-rated]="course.topRated">
    <div class="info-group">
        <button class="rate-button" (click)="onRateClick($event,course.id,course.topRated)">{{course.topRated ? 'Unrate' : 'Rate'}}</button>
        <div *ngIf="course.topRated">STAR</div>
        <div class="course-info-header">
            <span class="course-title">{{course.title | uppercase}}</span>
            <span class="course-duration">{{course.duration | duration: 'hh h mm min'}}</span>
            <span class="course-info-date">{{course.startDate | date: 'dd/MM/yyyy'}}</span>
        </div>
        <div>{{course.description}}</div>
    </div>
    <div class="button-group">
        <button>Edit course</button>
        <button (click)="onDelete(course.id)">Delete</button>
    </div>
</div>
