.course-item {
    display: flex;
    margin-top: 10px;
}

.info-group {
    max-width: 450px;
    border: 1px solid black
}

.course-info-header {
    margin: 10px;
    border: 1px solid black
}

.course-info-date {
    margin-left: 55px;
}

.button-group {
    display: flex;
    flex-flow:column;
    border: 1px solid black
}

.button-group > button {
    margin: 5px;
}
