<div class="course-item">
    <div class="info-group">
        <div class="course-info-header">
            <span>{{course.title}}</span>
            <span>{{course.id}}</span>
            <span>{{course.duration}}</span>
            <span class="course-info-date">{{course.startDate.toString().slice(0,24)}}</span>
        </div>
        <div>{{course.description}}</div>
    </div>
    <div class="button-group">
        <button>Edit course</button>
        <button (click)="onDelete(course.id)">Delete</button>
    </div>
</div>
