@import "../../../styles/variables/colors.scss";

.main-navbar {
	height: 60px;
	background-color: $c-primary;
	color: $white;
}

.logo {
	float: left;
	padding-top: 10px;
}

.logo-title {
	line-height: 1;
	font-size: 1.6rem;
}

.logo-sub-title {
	font-size: 0.7rem;
}

.menu {
	float: right;
	font-size: 0.8rem;
	padding-top: 20px;

	.menu-item {
		text-transform: uppercase;
		border-left: solid 1px $white;
		border-right: solid 1px $white;
		padding: 0 15px;
		display: inline-block;
		position: relative;
		cursor: pointer;

		&:first-child {
			border: none;
		}

		&:last-child {
			border: none;
		}

		&.active {
			background-color: darken($c-primary, 10%);
		}
	}
}
