<div class="header">
    <div class="logo-pannel">
        <div class="logo-group">
            <img src="../../../../favicon.ico" alt="">
            <div>BreadCrumb</div>
        </div>
        <div class="login-group">
            <div>user login</div>
            <a href="#">logoff</a>
        </div>
    </div>

    <div class="search-pannel">
        <input type="text" [value]="query" (input)="query = $event.target.value">
        <button (click)="onFindClick()">Find</button>
        <button><img src="">Add course</button>
    </div>

</div>
