.main-footer {
    position: fixed;
    bottom: 0;
    font-family: monospace;
    font-size: 40px;
    background: yellow;
    color: purple;
    border: 3px solid #4bcccc;
}

:host {
    width: 100%;
    display: flex;
    justify-content: center;
}